.contain {
    display: flex;
    position: relative;
    overflow: hidden;
}

.drop {
    width: 4px;
    height: 4px;
    bottom: 100%;
    animation: fall linear infinite;
    position: absolute;
    background: black;
    top: 0px;
}

.contain p {
    font-size: 17px;
    font-weight: 900;
    color: black;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}