@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.containNavbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.containDark .containNavbarShadow {
    box-shadow: 0 2px 8px black; 
    height: 92px;
    z-index: -1;
}

.containDark{
    background: #fff176;
    animation: lamp 0.8s ease;
    box-shadow: 0 7px 44px #ffffff78;
}

@keyframes lamp{
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.navbarPag {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px 30px;
    height: 92px;
}

.navbarPag img {
    width: 140px;
    max-width: 100%;
    height: auto;
}

.navLinksPag {
    list-style: none;
    display: flex;
    gap: clamp(20px, 4vw, 60px);
    margin: 0 8%;
    padding: 0px;
    font-size: clamp(16px, 0.8vw, 21px);
}

.navLinksPag li a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    padding: 15px 19px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    color: #303F9F;
    font-size: 0.8 rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: end;

}

.navLinksPag li a:hover {
    border: 2px solid #303F9F;
    padding: 14px 18px;
}

.navLinksPag a.active {
    background-color: #477853;
    color: white;
    padding: 12px 20px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);
}


.navLinksPag.active {
    display: block;
}

.navbarDark li a{
    color: black;
}

.navbarDark li a:hover {
    border: 2px solid rgb(5, 4, 4);
}


/* Tablet */
@media (max-width: 1024px) {

    .menuMobile {
        display: block;
        transition: transform 0.3s ease-in;
    }

    .navbar-pag {
        padding: 27px 20px;
    }

    .menu-icon {
        display: flex;
    }

    .navLinksPag {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0px;
        padding: 20px 0;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .navLinksPag li {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .nav-pag-pag li a {
        font-size: 20px;
    }
}