.Contain {
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-self: center;   
    width: 100%;        
    max-width: 1200px;   
    height: 100vh; 
    margin: 0 auto;      
}

.Contain h1 {
    color: #f0db4f; 
    margin-bottom: 30px;
}

.stack {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}

.stack li {
    background-color: #1e1f26; 
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.stack img {
    width: 30px; 
    height: 30px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.projectsCard {
    background-color: #2d2e37; 
    height: 450px;
    border-radius: 12px;
    border: 1px solid #444;
    transition: transform 0.3s ease;
}

.projectsCard:hover {
    transform: translateY(-5px);
}